body {
    font-family: 'Montserrat', sans-serif;
    background-color: #daddf097;
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 20px;
    margin: 0;
    padding: 20px;
}
.main{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color: #2157a9;
    letter-spacing: 6px;
    margin: 10px 0;
 
}
.controls{
    display: flex;
    gap: 10px;
}
.input-group {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #fff;
    padding: 5px 15px;
    border: 2px solid #333;
}

input[type="number"] {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    font-weight: bold;
    outline: none;
}

.mode-group {
    display: flex;
    gap: 5px;
}
button{
    padding: 10px 20px;
    font-weight: bold;
    border: 2px solid #bdc9dc;
    background: white;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background: #2157a9;
    color: white;
}
button.active{
    background: #2157a9;
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
#container {
    display: flex;
    max-width: 500px;
    max-height: 500px;
    flex-wrap: wrap;
    border: 10px solid #2157a9;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    
}
.grid-item {
    box-sizing: border-box; 
    border: 0.1px solid #8180eb;  
}
footer{
    margin-top: 20px;
    font-size: 1rem;
    color: #777;
}
footer span {
  font-weight: bold;
    color: #6b8e53;  
}
a {
    list-style: none;
}