body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 20px;
    margin: 0;
    padding: 20px;
}
.main{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color: #2157a9;
    letter-spacing: 1rem;
    margin: 10px 0;
 
}
.controls{
    padding: 10px 20px;
    font-weight: bold;
    border: 2px solid #2157a9;
    background: white;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background: #2157a9;
    color: white;
}
button.active{
    background: #2157a9;
    color: white;
}
#container {
    display: flex;
    max-width: 500px;
    max-height: 500px;
    flex-wrap: wrap;
    border: 5px solid grey;    
    
}
.colored {
    color: black;
}
.grid-item {
    box-sizing: border-box; 
    border: 1px solid #eee;  
}